:root {
    --main-background-color: #FFFFFF;
    --sec-background-color: #F4F4FD;
    --dark-background-color: #2E2F42;

    --accent-color: #4D5AE5;
    --accent-color-2:#404BBF;

    --text-color: #2E2F42;
    --sec-text-color: #434455;
    --light-text-color: #E7E9FC;
}


body {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.015em;
    font-family: Roboto, sans-serif;
}

address {
    font-style: normal;
}

button {
    cursor: pointer;
}

/*header-container*/
header {
    background-color: var(--main-background-color);
}

ul,
a,
.current {
    list-style: none;
    text-decoration: none;
}

.current {
    color: var(--accent-color);
}


/*navigation-container*/
.nav-logo-title,
.footer-logo-title {
    font-family: Raleway, sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.nav-logo-title>span {
    color: var(--accent-color);
}

.nav-logo-title {
    color: var(--text-color);
}

.footer-logo-title {
    color: var(--accent-color);
}


.navigation-links,
.nav-link,
.navigation-contacts,
.contacts {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
}

.navigation-links,
.nav-link {
    color: var(--text-color);
}

.navigation-contacts,
.contacts {
    color: var(--sec-text-color);
}

.nav-link:focus,
.nav-link:hover,
.contacts:focus,
.contacts:hover {
    color: var(--accent-color-2);
    transition: color 0.25s;
}



/* hero container */
.hero-title {
    color: var(--light-text-color);
    background-color: var(--dark-background-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;
}

.button-primary {
    border-radius: 4px;
    padding: 10px 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    text-decoration: none;

    align-items: center;
    text-align: center;

    color: var(--light-text-color);
    background: var(--accent-color-2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

/* features section */

.features-section-title {
    visibility: hidden;
}

.skills {
    font-size: 14px;
    text-transform: uppercase;
}

.skills-description {
    line-height: 1.71;

    color: var(--sec-text-color);
}


/* What we do section */

.section-title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}



/* our team section */

.names {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    /* text-align: center; */

    color: var(--text-color);
}

.profesion {
    font-size: 16px;
    line-height: 1.19;

    text-align: center;

    color: var(--sec-text-color);
}


/* portfolio */
.buttons,
.current-button {
    background: var(--sec-background-color);
    border-radius: 4px;
    border-style: none;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;

    color: var(--text-color);
}

.buttons:focus,
.buttons:hover,
.current-button {
    color: var(--light-text-color);
    background-color: var(--accent-color-2);
    transition: color 0.25s, background-color 0.25s;
    box-shadow: 0 0.5em 0.5em -0.4em var(--text-color);
    transform: translateY(-0.15em);
}


.project-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;

    color: var(--text-color);
}

.project-technology {
    font-size: 16px;
    line-height: 1.9;

    color: var(--sec-text-color);
}

/* footer */
.footer-container {
    background-color: var(--dark-background-color);
}

.studio-footer {
    color: var(--sec-background-color);
}

.footer-text {
    color: var(--light-text-color);
}